{% extends 'header_footer.html' %}

{% block content %}
<div class="about">
	<div class="yellow_content_box">

        <h1>Welcome to Rental Car</h1>
        <div class="block block-strong" >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare auctor tincidunt. Nulla efficitur enim et ipsum sagittis rhoncus. Maecenas accumsan pretium tortor, vitae vehicula velit pulvinar eu. Praesent sit amet viverra orci, ut vehicula purus. Ut porta lectus at urna dictum, eget fringilla velit egestas. Praesent nec urna ligula. Nullam gravida justo sed tristique iaculis.

            Quisque ut lorem eget urna vehicula facilisis id at nulla. Duis in lorem iaculis, sodales ante sit amet, consequat nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mollis vestibulum augue vitae pretium. Duis dapibus rhoncus consectetur. Ut tellus justo, accumsan quis fringilla et, elementum eget nulla. Etiam non lectus sem. Donec tristique blandit dapibus.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis nunc ut libero ornare pellentesque vitae quis lectus. Donec nisi mauris, egestas ultricies accumsan at, ultricies sit amet enim. Proin ex quam, cursus et urna ac, aliquet fermentum ex. Mauris tempor pellentesque enim vitae interdum. Quisque placerat leo sit amet ligula feugiat hendrerit. Etiam blandit accumsan porta. Nam vulputate, ex a molestie rhoncus, ex elit sagittis est, vitae sollicitudin dolor diam vitae turpis. Maecenas dignissim, sapien at iaculis accumsan, massa justo suscipit massa, ac porttitor mauris libero ac sapien. Donec blandit velit nec tellus elementum, gravida posuere libero ultrices. Aenean ex mauris, eleifend quis porttitor quis, bibendum eu magna. Proin elementum eget turpis quis hendrerit.

            Ut in lacus vel massa semper commodo eget at neque. Integer purus urna, vulputate sed accumsan quis, accumsan id dui. Vivamus nec dui vel sapien aliquam pharetra. Fusce imperdiet accumsan ante eu cursus. Sed semper vitae enim vel tincidunt. Nam at facilisis massa. Sed in maximus libero.

            Praesent non mauris non ex aliquam maximus. Vivamus fringilla commodo dui, quis suscipit erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean faucibus imperdiet sapien, id elementum nisi pellentesque id. Quisque molestie sapien a risus semper, eget tincidunt sapien dignissim. Suspendisse consectetur dapibus lacus, eget ornare nunc ultricies non. Mauris et felis et dolor pellentesque mollis. Nulla id nulla sem. Integer sed dolor in enim egestas luctus eget non ipsum. Nam suscipit neque mauris, sit amet molestie leo convallis ac. Suspendisse varius ut augue id placerat.
        </div>
    </div>
</div>
{% endblock %}
