{% extends 'header_footer.html' %}
{% block content %}

<div class="main_content">
    <div class="search">
        <form method="post" action="">
            {{ form.csrf_token }}

            <p style="margin:5px">Search for a car</p>
            <div style="margin:10px">

                {{ form.location }}
            </div>
            <div>
               <p> Pick up Date (date and time):
                {{ form.pick_up_date }}

                <p> Drop-Off Date (date and time):
                {{ form.drop_off_date }}

            </div>
            <div class="search_button_container" align="center">
                {{ form.submit(class_="search_button") }}
            </div>
        </form>
    </div>
    <div class="tagline">
        Maximum of possibilities. Maximum freedom.
    </div>
</div>

{% endblock %}
